<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <h3>&copy; 2023 <a href="https://erin-m-keller.github.io/keller-portfolio/" target="_blank" rel="noreferrer">Erin Keller</a></h3>
    </div>
</div>